In [1]:
import numpy as np
import pandas as pd
import os, json

In [2]:
df_info = pd.read_csv('data/superhero_info.csv')
df_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [3]:
df_info.duplicated().sum()

0

In [4]:
df_info.isna().sum()

Hero|Publisher    0
Gender            0
Race              0
Alignment         0
Hair color        0
Eye color         0
Skin color        0
Measurements      0
dtype: int64

In [5]:
#exploring existing format with a few examples
df_info['Measurements'].head(2)

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
Name: Measurements, dtype: object

In [6]:
#adding expand=True
df_info['Measurements'].str.split(', ', expand=True)

                         0                      1
0    {'Height': '203.0 cm'  'Weight': '441.0 kg'}
1    {'Height': '191.0 cm'   'Weight': '65.0 kg'}
2    {'Height': '185.0 cm'   'Weight': '90.0 kg'}
3    {'Height': '203.0 cm'  'Weight': '441.0 kg'}
4    {'Height': '193.0 cm'  'Weight': '122.0 kg'}
..                     ...                    ...
458  {'Height': '183.0 cm'   'Weight': '83.0 kg'}
459  {'Height': '165.0 cm'   'Weight': '52.0 kg'}
460   {'Height': '66.0 cm'   'Weight': '17.0 kg'}
461  {'Height': '170.0 cm'   'Weight': '57.0 kg'}
462  {'Height': '185.0 cm'   'Weight': '81.0 kg'}

[463 rows x 2 columns]

In [12]:
df_info[['Height', 'Weight']] = df_info['Measurements'].str.split("' ''", expand=True)
df_info.head(2)

ValueError: Columns must be same length as key